*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
    background-color: #FFF5EE;
}

.number{
    font-size: 36px;
    padding: 30px;
    color: #A16B47;
    text-align: center;
    margin: 100px 0;
}